version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: blog_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: blogdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: blog_api
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      APP_PORT: 8080
      APP_DB_HOST: postgres
      APP_DB_USER: postgres
      APP_DB_PASSWORD: postgres
      APP_DB_NAME: blogdb
      APP_DB_PORT: 5432

volumes:
  postgres_data:
